{% extends "base.html" %}
{% block title%} Extract {% endblock %}

{% block content %}
<div style="display:flex; flex-direction: row; align-self: auto; flex-basis: auto; align-items:center; justify-content:center;">
<form action="/scrape" method="POST", enctype="multipart/form-data">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">URL</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="URL" placeholder="Paste your link here">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Company Location</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="Company Location" placeholder="Company Location (Optional)">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Sector</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="Sector" placeholder="Sector (Optional)">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="True" id="flexCheckDefault" name="web_craweler">
        <label class="form-check-label" for="flexCheckDefault">
          Use Web Crawler (Beta)
        </label>
      </div>
    <div class="separator">OR</div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Select the file you want to upload:</label>
        <input class="form-control" type="file" id="formFile" name="inputFile">
    </div>
    
    <button type="submit" class="btn btn-primary" style="float:right"> Submit </button>
</form>
</div>
{% endblock %}