{% extends "base.html" %}
{% block title%} File Processing {% endblock %}
{% block content %}
    {% if not data_extracted: %}
    <br>
    <div class="d-flex align-items-center" style="display:flex; flex-direction: row; align-self: auto; flex-basis: auto; align-items:center; justify-content:center;">
        <strong>Extracting...</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>
    <div style="display:flex; flex-direction: row; align-self: auto; flex-basis: auto; align-items:center; justify-content:center;">
        <p class="h1">Data will be extracted by {{estimated_time}} ETA</p>
        <br>
        <small> This task will be running in background. </small>
    </div>
    {% endif %}
    {% if data_extracted: %}
        <p class="h1">Data Extraction Completed</p>
    {% endif%}}
{% endblock %}