{% extends "base.html" %}
{% block title%} File Processing {% endblock %}
{% block content %}
<div style="display:flex; flex-direction: row; align-self: auto; flex-basis: auto; align-items:center; justify-content:center;">
    <form action="/file_url_processing/extract/{{data}}" method="POST", enctype="multipart/form-data">
        <h1>File uploaded successfully.</h1>
        <small style="color:red"><b>Please select data field appropriately</b></small>
        <div class='mb-3'>
            <label for="URL_Select", class="form-label">Select column which contains URL/link</label>
            <small>(Required)</small>
            <select id="URL_Select" class="form-select" name="URL_Select">
            {% for column in column_list %}
            <option value={{column}}>{{column}}</option>
            {% endfor %}
            </select>
        </div>
        <div class='mb-3'>
            <label for="Location_Select", class="form-label">Select column which contains Location</label>
            <small>(Optional)</small>
            <select id="Location_Select" class="form-select" name="Location_Select">
            <option value="None">None</option>
            {% for column in column_list %}
            <option value={{column}}>{{column}}</option>
            {% endfor %}
            </select>
        </div>
        <div class='mb-3'>
            <label for="Sector_Select", class="form-label">Select column which contains Sector</label>
            <small>(Optional)</small>
            <select id="Sector_Select" class="form-select" name="Sector_Select">
            <option value="None">None</option>    
            {% for column in column_list %}
            <option value={{column}}>{{column}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="True" id="flexCheckDefault" name="Web_Crawler">
            <label class="form-check-label" for="flexCheckDefault">
              Use Web Crawler (Beta)
            </label>
        </div>
        <button type="submit" class="btn btn-primary" style="float:right"> Submit </button>
    </form>
</div>
{% endblock %}