{% extends "base.html" %}
{% block title%} Home {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-12">
        <div class="h-100 p-5 text-white bg-dark rounder-3">
            <h2> ABOUT THIS WEB APPLICATION </h2>
            <p> X-TRACTOR is a utility which helps to interact with my web scraping algorithm. The input through this app is processed and the gender data extracted from that URL is then stored in our database. Also it have integrated search bar to help search for URL of any company. You can also analyse any company by providing a URL which is then compared with all other companies in our database.</p>
        </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-12">
        <div class="h-100 p-5 text-white bg-dark rounder-3">
            <h2> ABOUT EXTRACT NEW DATA </h2>
            <p> To extract data from a website either you can put a URL or upload a CSV file. If URL is a base url of company and not a direct URL then you can use web crawler option as well.</p>
        </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-12">
        <div class="h-100 p-5 text-white bg-dark rounder-3">
            <h2> Search </h2>
            <p>In case you want to search URL of any company name you can use search box provided in right upper corner to search. This returns top 10 result that is fetched using google search engine.</p>
        </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-12">
        <div class="h-100 p-5 text-white bg-dark rounder-3">
            <h2> Visualization Dashboard </h2>
            <p>Once the data is extracted for a given URL is then you can see a page with button to see visualization if data was extracted successfully. This visualization is created using Dash and Plotly and have in-built slicer that you might use.</p>
        </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}