{% extends "base.html" %}
{% block title%} Search Results {% endblock %}

{% block content %}
    <ul class="list-group">
        <li class="list-group-item active">Search Results</li>
        {% for result in Search_Results:%}
            <li class="list-group-item"><a href={{result}} target="_blank">{{result}}</a></li>
        {% endfor  %}
    </ul>
{% endblock %}