{% extends "base.html" %}
{% block title%} File Processing {% endblock %}
{% block content %}

<div style="display:flex; flex-direction: row; align-self: auto; flex-basis: auto; align-items:center; justify-content:center;">
    <p class="h1">Data Extraction is completed.</p>
        <br>
        <a href="/dashapp/" target="_blank"><button class="btn btn-success" style="float:right"> Click here for Report </button></a>
</div>

{% endblock %}}