.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
.separator::before,
.separator::after {
content: '';
flex: 1;
border-bottom: 1px solid #0000006e;
}

.separator:not(:empty)::before {
margin-right: .25em;
}

.separator:not(:empty)::after {
margin-left: .25em;
}
